ul.nav li{
    display: inline-block;
    padding-right: 10px;
}
#about_blue{
  background: lightblue;
  border: 3px solid black;
  li{color: blue}} 
  #about_yellow{
    background: lightyellow;
    border: 3px solid black;}
